<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% include 'shared/header.html' %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


        {% include 'shared/menubar.html' %}
        <div class="page-top" id="templatemo_about">
        </div> <!-- /.page-header -->

        <div class="middle-content">
            <div class="container">
            
                <div class="row"><!-- first row -->
                
                	<div class="col-md-8"><!-- first column -->
                        <div class="widget-item">
                            <h3 class="widget-title">Our Company</h3>
			
		 	{% comment %}	
                            <div class="sample-thumb">
                                <img src="images/about_1.jpg" alt="about us" title="about us">
                            </div> <!-- /.sample-thumb -->
                            <h4 class="consult-title">Vestibulum sodales tempus lacus</h4>
			{% endcomment %}
			<p> Go Himalayas is a travel company providing a world class vocational experience to our guests in all over Himalaya with utmost satisfaction and quality services. </br></br></p>
			<p> Go Himalayas is based in Shimla, having two corporate offices at Manali and Srinagar  presently. Go Himalaya is a company focusing on :-</p><br/>

			<ul class="list-group">
				  <li class="list-group-item">Undefined undiscovered destinations of Himalayas.</li>
				  <li class="list-group-item">Family tours</li>
				  <li class="list-group-item">Honeymoon packages</li>
				  <li class="list-group-item">Group tours</li>
				  <li class="list-group-item">Corporate tours</li>
				  <li class="list-group-item">Adventure tours</li>
			</ul>

			</br>
			<p> Go Himalayas is a team of dedicated hardcore professionals committed to provide services  in a professional but in a friendly manner by understanding guest’s need to make their tour memorable.</p>
			<br/>
			<p> While designing any tour package satisfaction, needs and taste of clients are considered first.</p> <br/>
			<p> Our mission as company is to provide comfort, Good quality services, customer satisfaction, safety, and hassle free tour full of memories for life. </p> <br/>
                        </div> <!-- /.widget-item -->
                    </div> <!-- /.col-md-4 -->

                </div> <!-- /.row first -->
                
                
                
            </div> <!-- /.container -->
        </div> <!-- /.middle-content -->


        {% include 'shared/partner.html' %}
		
        {% include 'shared/footer.html' %}

        {% include 'shared/common_js.html' %}

    </body>
</html>
