    
{% load staticfiles %}
<div class="flexslider">
            <ul class="slides">
                {% for package in slider_packages %}
                <li>
                    <div class="overlay"></div>
                    <img src="{{ package.package_img_banner }}" alt="Special 1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-lg-4">
                                <div class="flex-caption visible-lg">
                                    <span class="price">Rs.{{ package.price }}/-</span>
                                    <h3 class="title">{{ package.title }} 
                                    {% if package.duration %} &nbsp;&nbsp; <p> {{ package.duration }} </p> {% endif %} </h3>
                                    <p>{{ package.short_description }}</p> 
                                    <a href="/package-detail/{{ package.slug }}/" class="slider-btn">Pre-booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
               {% endfor %}
            </ul>
        </div> <!-- /.flexslider -->
