<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% load staticfiles %}
    {% include 'shared/header.html' %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


    {% include 'shared/menubar.html' %}
    {% include 'flexslider.html' %}

        <!-- Main content --> 
        
        <div class="container">
            <div class="row">
                <div class="our-listing owl-carousel">
                    {% for package in home_page_packages %}
                    <div class="list-item">
                        <div class="list-thumb">
                            <div class="title">
                                <h4>{{ package.name }}</h4>
								<p> {{ package.duration }}</p>
                            </div>
                            <img src="{{ package.package_img_thumb  }}" alt="destination 1">
                        </div> <!-- /.list-thumb -->
			<div class="list-content" style="text-align:center">

                            <h5>{{ package.title }}</h5>
                            <span>{{ package.short_description }}</span>
                            <a href='package-detail/{{ package.slug }}/' class="price-btn">Rs. {{ package.price }}/- Book Now</a>
                        </div> <!-- /.list-content -->
                    </div> <!-- /.list-item -->
                    {% endfor %}

                </div> <!-- /.our-listing -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->

		<div class="middle-content"></div>

		
        {% include 'shared/footer.html' %}

        {% include 'shared/common_js.html' %}
        <!-- templatemo 409 travel -->  
    </body>
</html>
