<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% load custom_tags %}
    {% load staticfiles %}
    {% include 'shared/header.html' %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


        {% include 'shared/menubar.html' %}
        <div class="page-top" id="templatemo_packages">
        </div> <!-- /.page-header -->


        <div class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-6 map-wrapper">
                        <h3 class="widget-title">{{ package.title }}</h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-6 "> 
                                    <h3 class="flex-caption-listing title">{{ package.name }}</h3>
                                    {% if package.is_offer %}
                                    <h3 class="flex-caption-offer title blink">{{ package.offer_percentage }} % OFF </h3>
                                    {% endif %}
                                    <img src="/{{ package.package_img_thumb  }}" alt="destination 1" class="img-responsive img-thumbnail centered">
                                <div class="list-content shrt-desc">
                                    <h5 class='text-center'>{{ package.title }} </h5>
                                    <h5 class='text-center'>{{ package.duration }} </h5>
                                    <span> <p class="text-center"> {{ package.short_description }} </p> </span>
                                    <a href='/enquiry/' class="price-btn"><h3 class="text-center"> <strong>Rs. {{ package.price }} /- </strong></h3></a>
                                </div> <!-- /.list-content -->
                            </div> <!-- /.list-item -->
                            <div class="col-md-8 col-sm-6 map-wrapper"> 
                                {{ package.long_description }}
                            </div>
                        </div>
                    </div>
			{% comment %}
                    {% include 'contact_form.html' %}
		{% endcomment %}
                </div>
                <div class="row">

                <div class="container">
                  <h2>Package Details</h2>
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1">Itinerary</a></li>
                    <li><a data-toggle="tab" href="#menu2">Inclusion & Exclusion</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active">
                      <h3>Package Plan</h3>
		      <br/>
                      {% for each_itinerary in package.itinerary.all|sort_by:'priority' %}
                      <li>
                      <span> {{ each_itinerary.description }} </span>
                      </li>
                      <br/>
                      {% endfor %}
                    </div>
                    <div id="menu2" class="tab-pane fade">
                      <h3>Included </h3>
			<br/>
                      {% for each in package.inclusion.all %}
                      <li>
                      <span> <b> {{ each.description }} </b></span>
                      </li>
                      <br/>
                      {% endfor %}
                      <h3>Excluded </h3>
			<br/>
                      {% for each in package.exclusion.all %}
                      <li>
                      <span> <b> {{ each.description }} </b></span>
                      </li>
                      <br/>
                      {% endfor %}
                    </div>
                  </div>
                </div>


                </div>
            </div>
        </div>

        {% include 'shared/partner.html' %}
		
        {% include 'shared/footer.html' %}

        {% include 'shared/common_js.html' %}


        <!-- templatemo 409 travel -->
    </body>
</html>
