<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    {% load staticfiles %}
    {% include 'shared/header.html' %}
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
		<!-- Google Code for Go Himalaya Conversions Conversion Page -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 931392584;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "zOe9CImfhmYQyNiPvAM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/931392584/?label=zOe9CImfhmYQyNiPvAM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>


        {% include 'shared/menubar.html' %}
        <div class="page-top" id="templatemo_packages">
        </div> <!-- /.page-header -->


        <div class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 map-wrapper">
                        <h3 class="widget-title-center">Thanks for enquiry.Our representative will contact you soon.</h3>
                        <div class="row">
                            {% for package in packages %}
                            <div class="col-md-4 col-sm-4 map-wrapper"> 
                                    <h3 class="flex-caption-listing title">{{ package.name }}</h3>
                                    <img src="/{{ package.package_img_thumb  }}" alt="destination 1" class="img-responsive img-thumbnail">
                                <div class="list-content">
                                    <h5 class='text-center'>{{ package.title }} </h5>
                                    <span> <p class="text-center"> {{ package.short_description }} </p> </span>
                                    <a href='/package-detail/{{ package.slug }}/' class="price-btn"><h3 class="text-center"> <strong>Rs. {{ package.price }} Book Now</strong></h3></a>
                                </div> 
                            </div> 

                            {% endfor %}
                        </div>
                    </div>
			
                </div>
            </div>
        </div>

        {% include 'shared/partner.html' %}
		
        {% include 'shared/footer.html' %}

        {% include 'shared/common_js.html' %}


    </body>
</html>
