{% load staticfiles %}
<script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
