    {% load staticfiles %}
	<div style="position: fixed; top: 0px; background: rgb(255, 255, 255) none repeat scroll 0px 0px; z-index: 10; color: rgb(0, 0, 0); opacity: 0.6; right: 80px;"><span style="display: block; padding: 2px 10px; font-size: 24px;">Contact: +91-8091322225 / 8091322227 </span></div>
        <div class="site-header">
            <div class="container">
                <div class="main-header">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-10">
                            <div class="logo">
                                <a href="/">
                                    <img src="{% static 'images/logo.png' %}" alt="GoHimalaya" title="GoHimalaya">
                                </a>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                        <div class="col-md-8 col-sm-6 col-xs-2">
                            <div class="main-menu">
                                <ul class="visible-lg visible-md">
                                    {% if active == 'home' %}
                                    <li class="active"><a href="/">Home</a></li>
                                    {% else %}
                                    <li><a href="/">Home</a></li>
                                    {% endif %}

                                    {% if active == 'about_us' %}
                                    <li class='active'><a href="/about-us/">About Us</a></li>
                                    {% else %}
                                    <li><a href="/about-us/">About Us</a></li>
                                    {% endif %}


                                    {% comment %}

                                    {% if active == 'about_himalaya' %}
                                    <li class='active'><a href="#">About Himalaya</a></li>
                                    {% else %}
                                    <li><a href="#">About Himalaya</a></li>
                                    {% endif %}
                                    {% endcomment %}

                                    {% if active == 'packages' %}
													<li class="dropdown active">

				<a href="#" data-toggle="dropdown" class="dropdown-toggle">Packages</a>
										<ul class="dropdown-menu" style=" width: 102px;
				">
								<li><a href="/packages/camping/">Camping</a></li>
											<li><a href="/packages/adventure/">Adventure </a></li>
											<li><a href="/packages/honeymoon/">Honeymoon </a></li>
								<li><a href="/packages/group/">Kids</a></li>
								<li><a href="/packages/family/">Family  </a></li>
								<li><a href="/packages/group/">Group </a></li>
								
										</ul>
				</li>
                                    {% else %}
								<li class="dropdown">

								<a href="#" data-toggle="dropdown" class="dropdown-toggle">Packages</a>
														<ul class="dropdown-menu" style=" width: 102px;
								">

												<li><a href="/packages/family/">Family  </a></li>
												<li><a href="/packages/camping/">Camping</a></li>
															<li><a href="/packages/adventure/">Adventure </a></li>
															<li><a href="/packages/honeymoon/">Honeymoon </a></li>
												<li><a href="/packages/kids/">Kids</a></li>
												<li><a href="/packages/group/">Group </a></li>
												
														</ul>
								</li>
                                    {% endif %}

<li><div style="height: 87px;">
<a href="/hot-deals/" class="" style="
    margin-top: 12px;"> <img src="{% static 'images/hot_deals.jpg' %}" style="height: 51px;width: 93px;display: block;" class="{% if active != 'hot_deals' %} blink {% endif %}"></a></div></li>

                                    {% if active == 'camping' %}
                                    <li class='active'><a href="/packages/camping/">Camping</a></li>
                                    {% else %}
                                    <li><a href="/packages/camping/">Camping</a></li>
                                    {% endif %}

                                    {% if active == 'contact' %}
                                    <li class='active'><a href="/enquiry/">Enquiry</a></li>
                                    {% else %}
                                    <li><a href="/enquiry/">Enquiry</a></li>
                                    {% endif %}
                                    {% if active == 'contact-us' %}
                                    <li class='active'><a href="/contact-us/">Contact Us</a></li>
                                    {% else %}
                                    <li><a href="/contact-us/">Contact Us</a></li>
                                    {% endif %}
                                </ul>
                                <a href="#" class="toggle-menu visible-sm visible-xs">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div> <!-- /.main-menu -->
                        </div> <!-- /.col-md-8 -->
                    </div> <!-- /.row -->
                </div> <!-- /.main-header -->
                <div class="row">
                    <div class="col-md-12 visible-sm visible-xs">
                        <div class="menu-responsive">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/about-us/">About Us</a></li>
								{% comment %}
                                <li><a href="/about-himalaya/">About Himalaya</a></li>
                                <li><a href="/packages/">Packages</a></li>
								{% endcomment %}
<li class="dropdown">

<a href="#" data-toggle="dropdown" class="dropdown-toggle">Packages</a>
                        <ul class="dropdown-menu" style=" width: 102px;
">
			    <li><a href="/packages/camping/">Camping</a></li>
                            <li><a href="/packages/adventure/">Adventure </a></li>
                            <li><a href="/packages/honeymoon/">Honeymoon </a></li>
			    <li><a href="/packages/group/">Kids</a></li>
			    <li><a href="/packages/family/">Family  </a></li>
			    <li><a href="/packages/group/">Group </a></li>
			    
                        </ul>
</li>
                                <li class='blink'><a href="/hot-deals/">Hot Deals</a></li>
                                <li><a href="/packages/camping/">Camping</a></li>
                                <li><a href="/enquiry/">Enquiry</a></li>
                                <li><a href="/contact-us/">Contact Us</a></li>
                            </ul>
                        </div> <!-- /.menu-responsive -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
