{% load staticfiles %}   
<div class="partner-list">
            <div class="container">
                <div class="row">
                    {% for partner in partners %}
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="partner-item last">
                            <img src="{% static 'images/partners/partner3.png' %}" alt="">
                        </div> <!-- /.partner-item -->
                    </div> <!-- /.col-md-2 -->
                    {% endfor %}
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.partner-list -->
